.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 16px;
}
.currency-app{
    background :url(/sfsites/c/resource/currencyConverterAsset/currencyConverterAsset/currencyBackgroundImage.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
}

img{
    display: block;
    margin: auto;
}

.custom-icon{
    --slds-c-icon-color-foreground-default:gold;
    --slds-c-icon-color-background: gold;
    --slds-c-icon-color-foreground:#16325c;
    transform:rotate(90deg);


}
.custom-card{
    max-width: 520px;
    border-radius: 15px;
    background: #16325c;
    min-width: 370px;
    padding: 16px;
}

.custom-button, .custom-button:active ,.custom-button:hover{
    background: gold;
    padding: 12px;
    font-size: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
}